<h2>List of All Graduated Students</h2>

<table class='model-list'>
  <%@students.each do |student| %>
    <tr>
      <th>
        Student Name
        </th>
      <th>
        Creation Date
        </th>
      </tr>
    <tr>
      <td>
        <a class='td-selection-area' href=<%="/students/#{student.id}"%>><%=student.name%></a>
        </td>
      <td>
        <%=student.created_at%>
        </td>
      </tr>
    <tr class='last-row'>
      <td colspan='2'>
        <a class='custom-button edit' href='<%="/students/#{student.id}/edit"%>'> Edit </a>
        </td>
      </tr>
    <%end%>
  </table>
