<h2>List of All Students</h2>

<ul>
    <%@students.each do |student| %>
    <li>
      <a href=<%="/students/#{student.id}"%>><%=student.name%></a> <a class='custom-button' href='<%="/students/#{student.id}/edit"%>'>Edit</a>
    </li>
    <%end%>
</ul>
