<h2>Student Record</h2>
<h3>Student ID: <%=@student.id%></h3>
<h3>Student Name: <%=@student.name%></h3>
<h3>Student Badge Code: <%=@student.badge_code%></h3>
<h3>Is Alumni: <%=@student.is_alumni%></h3>
