<h2>Current Degrees being Pursued at <a href=<%="/schools/#{@school.id}"%>><%=@school.name%></a></h2>
<ul class='degree-list'>
  <%@current_degrees.each do |degree|%>
    <li><%=degree%></li>
  <%end%>
</ul>
