/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.navbar-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.navbar-li {
  float: left;
}

.navbar-li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar-li a:hover {
  background-color: #111;
}

.delete-form {
  display: inline-block;
}

.custom-button {
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.custom-button:hover {
  background-color: grey;
  color: white;
  cursor: pointer;
}

.danger {
  background-color: #e61300;
  color: white;
}

.danger:hover {
  background-color: #8f0c00;
  color: white;
  cursor: pointer;
}

.new {
  background-color: #54cc60;
  color: white;
}

.new:hover {
  background-color: #02780e;
  color: white;
  cursor: pointer;
}

.edit {
  background-color: #4a8fff;
  color: white;
}

.edit:hover {
  background-color: #104fb5;
  color: white;
  cursor: pointer;
}

.fs-1 {
  font-size: 10px;
}

.fs-2 {
  font-size: 14px;
}

.fs-3 {
  font-size: 16px;
}

.fs-4 {
  font-size: 20px;
}

.model-list {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  border-collapse: collapse;
  width: 50%;
}

.model-list td, .model-list th {
  border: 1px solid #ddd;
}

.model-list tr:nth-child(even){
  background-color: #dbdbdb;
}

.last-row {
  border: none;
  background: white;
}

.last-row td {
  border: none;
  padding-bottom: 20px;
  background: white;
}

.model-list th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #333;
  color: white;
}

.model-list a.td-selection-area {
  text-decoration: none;
  color: black;
  display: inline-block;
  width: 95%;
  height: 100%;
  padding: 8px;
}

.model-list a.td-selection-area:hover {
  background-color: #8a8a8a;
  color:white;
  cursor: pointer;
}
