<form action="/author/<%= @author.id %>>" method="patch">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <p>Create a new author</p>
  <label for="name">Name</label>
  <input type='text' id="name" name='author[name]' value='<%= @author.name %>'/><br/>
  <label for="admin">Admin?</label>
  <input type="checkbox" id="admin" name="author[admin]" <%= @author.admin? ? 'checked' : '' %>/><br/>
  <input type='submit'/>
</form>
