<form action="/author/new" method="post">

  <p>Create a new author</p>
  <label for="name">Name</label>
  <input type='text' id="name" name='author[name]'/><br/>
  <label for="admin">Admin?</label>
  <input type="checkbox" id="admin" name="author[admin]"/><br/>
  <input type='submit'/>
</form>